Repository meilisearch/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meilisearch/integration-team, @meilisearch/devrel-team, @CaroFG, @meilisearch/product-team

Fix ids of code samples (#3421)
  .code-samples.meilisearch.yaml
  snippets/samples/code_samples_experimental_delete_logs_stream_1.mdx
  snippets/samples/code_samples_multi_search_remote_federated_1.mdx
  snippets/samples/code_samples_related_results_embedder_1.mdx
  snippets/samples/code_samples_search_parameter_guide_vector_1.mdx
  snippets/samples/code_samples_updating_guide_create_dump.mdx
Owners: @meilisearch/integration-team

Add AWS Bedrock Mantle example to conversational search documentation
  learn/chat/getting_started_with_chat.mdx
Owners: none

add openapi file with code samples
  docs.json
  openapi-curqui.json
Owners: none

fix multimodal example
  learn/ai_powered_search/image_search_with_multimodal_embeddings.mdx
Owners: none

remove remaining references to roadmap
  README.md
  learn/resources/comparison_to_alternatives.mdx
  learn/resources/contributing_docs.mdx
  learn/resources/faq.mdx
Owners: @meilisearch/product-team

Remove remaining references to roadmap (#3425)
  README.md
  learn/resources/comparison_to_alternatives.mdx
  learn/resources/contributing_docs.mdx
  learn/resources/faq.mdx
  snippets/samples/code_samples_getting_started_add_documents.mdx
Owners: @meilisearch/product-team

Add other languages
  docs.json
  meilisearch-openapi.json
Owners: none

Fix multimodal guide example (#3424)
  learn/ai_powered_search/image_search_with_multimodal_embeddings.mdx
Owners: none

Mention roadmap and GH discussions again
  README.md
  docs.json
  learn/resources/comparison_to_alternatives.mdx
  learn/resources/contributing_docs.mdx
  learn/resources/faq.mdx
Owners: @meilisearch/product-team

Mention roadmap and GH discussions again (#3428)
  README.md
  docs.json
  learn/resources/comparison_to_alternatives.mdx
  learn/resources/contributing_docs.mdx
  learn/resources/faq.mdx
  snippets/samples/code_samples_search_parameter_reference_media_1.mdx
Owners: @meilisearch/product-team

Fix code samples
  .code-samples.meilisearch.yaml
Owners: @meilisearch/integration-team

Add missing code samples for mintlify
  .code-samples.meilisearch.yaml
Owners: @meilisearch/integration-team

Remove example in docs.json
  docs.json
Owners: none

Add the newly and corrected open api file
  openapi-curqui.json
Owners: none

WIP
  docs.json
Owners: none

add `skipCreation` param to POST, PUT `/documents`
  reference/api/documents.mdx
Owners: none

use latest tag in docker instructions
  guides/docker.mdx
Owners: none

Add precision about retrieveVectors search parameter
  reference/api/search.mdx
Owners: none

Clarify behavior when updating nested fields with “add or update documents” endpoint
  reference/api/documents.mdx
Owners: none

Add missing code samples for mintlify (#3430)
  .code-samples.meilisearch.yaml
Owners: @meilisearch/integration-team

use latest tag in docker instructions (#3433)
  guides/docker.mdx
  snippets/samples/code_samples_get_network_1.mdx
  snippets/samples/code_samples_update_network_1.mdx
Owners: none

Add precision about retrieveVectors search parameter (#3434)
  reference/api/search.mdx
  snippets/samples/code_samples_add_or_replace_documents_1.mdx
  snippets/samples/code_samples_add_or_update_documents_1.mdx
  snippets/samples/code_samples_compact_index_1.mdx
  snippets/samples/code_samples_edit_documents_by_function_1.mdx
  snippets/samples/code_samples_get_chat_settings_1.mdx
  snippets/samples/code_samples_get_documents_1.mdx
  snippets/samples/code_samples_get_documents_post_1.mdx
  snippets/samples/code_samples_get_network_1.mdx
  snippets/samples/code_samples_getting_started_add_documents.mdx
  snippets/samples/code_samples_rename_an_index_1.mdx
  snippets/samples/code_samples_reset_chat_settings_1.mdx
  snippets/samples/code_samples_search_parameter_reference_retrieve_vectors_1.mdx
  snippets/samples/code_samples_update_chat_settings_1.mdx
  snippets/samples/code_samples_update_filterable_attributes_1.mdx
  snippets/samples/code_samples_update_network_1.mdx
  snippets/samples/code_samples_update_network_2.mdx
Owners: none

Clarify behavior when updating nested fields with PUT /indexes/{index_uid}/documents (#3436)
  reference/api/documents.mdx
Owners: none

shorten description
  reference/api/documents.mdx
Owners: none

Add `skipCreation` param do `/documents` (#3431)
  reference/api/documents.mdx
  snippets/samples/code_samples_add_or_replace_documents_1.mdx
  snippets/samples/code_samples_add_or_update_documents_1.mdx
Owners: none

clarify users cannot partially update object values
  learn/engine/datatypes.mdx
  reference/api/documents.mdx
Owners: none

clarify users cannot partially update object values (#3439)
  learn/engine/datatypes.mdx
  reference/api/documents.mdx
Owners: none

recommend users do not create more indexes than needed
  learn/indexing/indexing_best_practices.mdx
Owners: none

Recommend users do not create more indexes than needed (#3440)
  learn/indexing/indexing_best_practices.mdx
Owners: none

Apply suggestions from code review
  guides/embedders/bedrock.mdx
Owners: none

Apply suggestion from @curquiza
  guides/embedders/bedrock.mdx
Owners: none

Apply suggestion from @curquiza
  guides/embedders/bedrock.mdx
Owners: none

removed banner
  learn/analytics/migrate_analytics_monitoring.mdx
Owners: none

Add missing default API keys in the engine
  guides/vercel.mdx
  learn/security/basic_security.mdx
  learn/security/differences_master_api_keys.mdx
  reference/api/keys.mdx
Owners: none

Add missing default API keys in the engine (#3442)
  guides/vercel.mdx
  learn/security/basic_security.mdx
  learn/security/differences_master_api_keys.mdx
  reference/api/keys.mdx
Owners: none

fix leftover closing component tag
  learn/chat/getting_started_with_chat.mdx
  learn/indexing/optimize_indexing_performance.mdx
Owners: none

fix leftover closing component tag (#3443)
  learn/chat/getting_started_with_chat.mdx
  learn/indexing/optimize_indexing_performance.mdx
Owners: none

Remove unused CI
  .github/workflows/code-sample-automation.yml
Owners: none

fix links to postman collection
  guides/postman_collection.mdx
Owners: none

fix links to postman collection (#3445)
  guides/postman_collection.mdx
Owners: none

.github/CODEOWNERS:

# Notify integrations team about updates to code samples
.code-samples.meilisearch.yaml @meilisearch/integration-team

# Content maintained by DevRel
/learn/front_end/react_instantsearch.mdx @meilisearch/devrel-team
/learn/cookbooks/vercel.mdx @CaroFG

# Content maintained by Product
/learn/resources/comparison_to_alternatives.mdx @meilisearch/product-team
