Repository meilisearch/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meilisearch/integration-team, @meilisearch/devrel-team, @CaroFG, @meilisearch/product-team

Fix language settings code samples
  .code-samples.meilisearch.yaml
Owners: @meilisearch/integration-team

Fix language settings code samples (#2957)
  .code-samples.meilisearch.yaml
Owners: @meilisearch/integration-team

Update reference/api/documents.mdx
  reference/api/documents.mdx
Owners: none

Fix typo in learn/resources/known_limitations
  learn/resources/known_limitations.mdx
Owners: none

Remove limit from queries
  .code-samples.meilisearch.yaml
Owners: @meilisearch/integration-team

Add a guide for generating embeddings with Mistral
  config/sidebar-guides.json
  guides/embedders/mistral.mdx
Owners: none

Update guides/embedders/mistral.mdx
  guides/embedders/mistral.mdx
Owners: none

add links
  guides/embedders/mistral.mdx
Owners: none

comments fixes from Laurent
  config/sidebar-guides.json
  guides/embedders/mistral.mdx
Owners: none

Add guides for Cloudflare, Cohere, OpenAI and Voyage
  config/sidebar-guides.json
  guides/embedders/cloudflare.mdx
  guides/embedders/cohere.mdx
  guides/embedders/openai.mdx
  guides/embedders/voyage.mdx
Owners: none

Update learn/resources/known_limitations.mdx
  learn/resources/known_limitations.mdx
Owners: none

Fix typo in learn/resources/known_limitations (#2959)
  learn/resources/known_limitations.mdx
Owners: none

Update config/sidebar-guides.json
  config/sidebar-guides.json
Owners: none

Update config/sidebar-guides.json
  config/sidebar-guides.json
Owners: none

Update config/sidebar-guides.json
  config/sidebar-guides.json
Owners: none

Update config/sidebar-guides.json
  config/sidebar-guides.json
Owners: none

Update config/sidebar-guides.json
  config/sidebar-guides.json
Owners: none

Update guides/embedders/voyage.mdx
  guides/embedders/voyage.mdx
Owners: none

Update guides/embedders/voyage.mdx
  guides/embedders/voyage.mdx
Owners: none

Update guides/embedders/voyage.mdx
  guides/embedders/voyage.mdx
Owners: none

Update guides/embedders/voyage.mdx
  guides/embedders/voyage.mdx
Owners: none

Update guides/embedders/voyage.mdx
  guides/embedders/voyage.mdx
Owners: none

Update guides/embedders/cloudflare.mdx
  guides/embedders/cloudflare.mdx
Owners: none

Update guides/embedders/cloudflare.mdx
  guides/embedders/cloudflare.mdx
Owners: none

Update guides/embedders/cloudflare.mdx
  guides/embedders/cloudflare.mdx
Owners: none

Update guides/embedders/cloudflare.mdx
  guides/embedders/cloudflare.mdx
Owners: none

Update guides/embedders/cloudflare.mdx
  guides/embedders/cloudflare.mdx
Owners: none

Update guides/embedders/cloudflare.mdx
  guides/embedders/cloudflare.mdx
Owners: none

Apply suggestions from code review
  guides/embedders/cloudflare.mdx
  guides/embedders/cohere.mdx
  guides/embedders/mistral.mdx
  guides/embedders/openai.mdx
  guides/embedders/voyage.mdx
Owners: none

update UTM params on vector & hybrid search content
  learn/ai_powered_search/getting_started_with_ai_search.mdx
  learn/experimental/vector_search.mdx
Owners: none

Add a guides for generating embeddings with Mistral, OpenAI, Voyage, and Cloudflare (#2965)
  config/sidebar-guides.json
  guides/embedders/cloudflare.mdx
  guides/embedders/cohere.mdx
  guides/embedders/mistral.mdx
  guides/embedders/openai.mdx
  guides/embedders/voyage.mdx
Owners: none

add v1.10 experimental features to overview table
  learn/experimental/overview.mdx
Owners: none

add warning about configuring multiple languages for a single index
  reference/api/settings.mdx
Owners: none

fix language settings heading
  reference/api/settings.mdx
Owners: none

Update comparison_to_alternatives.mdx
  learn/resources/comparison_to_alternatives.mdx
Owners: @meilisearch/product-team

Update known_limitations.mdx
  learn/resources/known_limitations.mdx
Owners: none

Update known_limitations.mdx
  learn/resources/known_limitations.mdx
Owners: none

tweak API reference intro
  reference/api/overview.mdx
Owners: none

explicitly state attributes are case-sensitive
  learn/getting_started/documents.mdx
Owners: none

add `/metrics` reference page
  .code-samples.meilisearch.yaml
  config/sidebar-learn.json
  config/sidebar-reference.json
  learn/experimental/metrics.mdx
  learn/self_hosted/configure_meilisearch_at_launch.mdx
  reference/api/metrics.mdx
Owners: @meilisearch/integration-team

.github/CODEOWNERS:

# Notify integrations team about updates to code samples
.code-samples.meilisearch.yaml @meilisearch/integration-team

# Content maintained by DevRel
/learn/front_end/react_instantsearch.mdx @meilisearch/devrel-team
/learn/cookbooks/vercel.mdx @CaroFG

# Content maintained by Product
/learn/resources/comparison_to_alternatives.mdx @meilisearch/product-team
