Repository meilisearch/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meilisearch/integration-team, @meilisearch/devrel-team, @CaroFG, @meilisearch/product-team

add Typesense to Laravel Scout Support (#3328)
  learn/resources/comparison_to_alternatives.mdx
Owners: @meilisearch/product-team

Apply suggestions from code review
  reference/api/export.mdx
Owners: none

fix links
  docs.json
  learn/chat/chat_tooling_reference.md
  learn/chat/conversational_search.mdx
  learn/chat/getting_started_with_chat.mdx
Owners: none

clarify exporting data into existing indexes
  reference/api/export.mdx
Owners: none

Update reference/api/export.mdx
  reference/api/export.mdx
Owners: none

v1.15.1: `/chat` route docs review (#3316)
  docs.json
  learn/chat/chat_tooling_reference.md
  learn/chat/conversational_search.mdx
  learn/chat/getting_started_with_chat.mdx
  reference/api/chats.mdx
  reference/api/network.mdx
  reference/api/settings.mdx
Owners: none

v1.16: `/export` route (#3315)
  .code-samples.meilisearch.yaml
  docs.json
  reference/api/export.mdx
  reference/errors/error_codes.mdx
  snippets/samples/code_samples_async_guide_filter_by_statuses_2.mdx
  snippets/samples/code_samples_basic_security_tutorial_admin_1.mdx
  snippets/samples/code_samples_basic_security_tutorial_listing_1.mdx
  snippets/samples/code_samples_basic_security_tutorial_search_1.mdx
  snippets/samples/code_samples_index_settings_tutorial_api_get_setting_1.mdx
  snippets/samples/code_samples_index_settings_tutorial_api_put_setting_1.mdx
  snippets/samples/code_samples_index_settings_tutorial_api_task_1.mdx
  snippets/samples/code_samples_related_results_embedder_1.mdx
  snippets/samples/code_samples_related_results_search_1.mdx
  snippets/samples/code_samples_related_results_similar_1.mdx
  snippets/samples/code_samples_search_parameter_guide_vector_1.mdx
Owners: @meilisearch/integration-team

v1.16: Multimodal search (#3312)
  .code-samples.meilisearch.yaml
  learn/resources/experimental_features_overview.mdx
  reference/api/experimental_features.mdx
  reference/api/search.mdx
  reference/api/settings.mdx
  reference/errors/error_codes.mdx
Owners: @meilisearch/integration-team

v1.16 (#3311)
  .code-samples.meilisearch.yaml
  assets/misc/meilisearch-collection-postman.json
  docs.json
  guides/docker.mdx
  learn/chat/chat_tooling_reference.md
  learn/chat/conversational_search.mdx
  learn/chat/getting_started_with_chat.mdx
  learn/resources/experimental_features_overview.mdx
  learn/resources/telemetry.mdx
  learn/self_hosted/configure_meilisearch_at_launch.mdx
  learn/self_hosted/install_meilisearch_locally.mdx
  package.json
  reference/api/batches.mdx
  reference/api/chats.mdx
  reference/api/documents.mdx
  reference/api/experimental_features.mdx
  reference/api/export.mdx
  reference/api/network.mdx
  reference/api/search.mdx
  reference/api/settings.mdx
  reference/errors/error_codes.mdx
Owners: @meilisearch/integration-team

fix innaccurate info regarding autobatching reqs
  learn/getting_started/documents.mdx
Owners: none

improve wording
  learn/getting_started/documents.mdx
Owners: none

Update autobatch requirements description (#3330)
  learn/getting_started/documents.mdx
  snippets/samples/code_samples_export_post_1.mdx
  snippets/samples/code_samples_search_parameter_reference_locales_1.mdx
  snippets/samples/code_samples_search_parameter_reference_media_1.mdx
Owners: none

add missing import to /reference/api/search
  reference/api/search.mdx
Owners: none

Add missing import to /reference/api/search (#3331)
  reference/api/search.mdx
Owners: none

update package-lock.json
  package-lock.json
Owners: none

update package-lock
  package-lock.json
Owners: none

Update `package-lock.json` (#3332)
  package-lock.json
Owners: none

Remove experimental tags from STARTS WITH
  learn/filtering_and_sorting/filter_expression_reference.mdx
Owners: none

shorten custom ranking rules page, add tip for searchable attribs
  learn/relevancy/custom_ranking_rules.mdx
Owners: none

Clarify Default Chat API Key creation for existing instances
  learn/chat/getting_started_with_chat.mdx
  reference/api/keys.mdx
Owners: none

Add documents.get permission to chat API key example
  learn/chat/getting_started_with_chat.mdx
Owners: none

Update reference/api/keys.mdx
  reference/api/keys.mdx
Owners: none

Update learn/chat/getting_started_with_chat.mdx
  learn/chat/getting_started_with_chat.mdx
Owners: none

Update learn/chat/getting_started_with_chat.mdx
  learn/chat/getting_started_with_chat.mdx
Owners: none

Update learn/chat/getting_started_with_chat.mdx
  learn/chat/getting_started_with_chat.mdx
Owners: none

Add documents.get permission to chat API key example
  learn/chat/getting_started_with_chat.mdx
Owners: none

Clarify Default Chat API Key creation for existing instances
  learn/chat/getting_started_with_chat.mdx
  reference/api/keys.mdx
Owners: none

Update learn/chat/getting_started_with_chat.mdx
  learn/chat/getting_started_with_chat.mdx
Owners: none

Update learn/chat/getting_started_with_chat.mdx
  learn/chat/getting_started_with_chat.mdx
Owners: none

Update reference/api/keys.mdx
  reference/api/keys.mdx
Owners: none

Update learn/chat/getting_started_with_chat.mdx
  learn/chat/getting_started_with_chat.mdx
Owners: none

Fix HTTP method in chat workspace configuration from PUT to PATCH
  learn/chat/getting_started_with_chat.mdx
Owners: none

Fix HTTP method in chat workspace configuration from PUT to PATCH
  learn/chat/getting_started_with_chat.mdx
Owners: none

remove blank line
  learn/relevancy/custom_ranking_rules.mdx
Owners: none

add webhooks reference
  .code-samples.meilisearch.yaml
  docs.json
  reference/api/webhooks.mdx
Owners: @meilisearch/integration-team

add links and error codes
  learn/async/asynchronous_operations.mdx
  learn/async/task_webhook.mdx
  learn/async/working_with_tasks.mdx
  learn/self_hosted/configure_meilisearch_at_launch.mdx
  reference/errors/error_codes.mdx
Owners: none

add more information on common embedding error
  reference/errors/error_codes.mdx
Owners: none

add new endpoint, key permissions
  .code-samples.meilisearch.yaml
  reference/api/keys.mdx
  reference/api/webhooks.mdx
Owners: @meilisearch/integration-team

update postman collection
  assets/misc/meilisearch-collection-postman.json
Owners: none

Apply suggestions from code review
  .code-samples.meilisearch.yaml
  learn/self_hosted/configure_meilisearch_at_launch.mdx
  reference/errors/error_codes.mdx
Owners: @meilisearch/integration-team

.github/CODEOWNERS:

# Notify integrations team about updates to code samples
.code-samples.meilisearch.yaml @meilisearch/integration-team

# Content maintained by DevRel
/learn/front_end/react_instantsearch.mdx @meilisearch/devrel-team
/learn/cookbooks/vercel.mdx @CaroFG

# Content maintained by Product
/learn/resources/comparison_to_alternatives.mdx @meilisearch/product-team
