Repository meilisearch/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meilisearch/integration-team, @meilisearch/devrel-team, @CaroFG, @meilisearch/product-team

bump version number
  package.json
Owners: none

update vector search errors
  reference/errors/error_codes.mdx
Owners: none

remove experimental tags from vector store docs
  guides/computing_hugging_face_embeddings_gpu.mdx
  guides/embedders/cloudflare.mdx
  guides/embedders/cohere.mdx
  guides/embedders/huggingface.mdx
  guides/embedders/mistral.mdx
  guides/embedders/openai.mdx
  guides/embedders/voyage.mdx
  guides/langchain.mdx
  learn/ai_powered_search/difference_full_text_ai_search.mdx
  learn/ai_powered_search/getting_started_with_ai_search.mdx
  learn/ai_powered_search/search_with_user_provided_embeddings.mdx
  learn/resources/experimental_features_overview.mdx
  reference/api/search.mdx
  reference/api/settings.mdx
  reference/api/similar.mdx
  reference/errors/error_codes.mdx
Owners: none

remove deactivate ai search guide
  config/redirects.json
  config/sidebar-learn.json
  learn/ai_powered_search/deactivate_ai_powered_search.mdx
Owners: none

update experimental features route
  reference/api/experimental_features.mdx
Owners: none

update supported ollama URLs
  reference/api/settings.mdx
Owners: none

add `--experimental-dumpless-upgrade` reference and guide
  learn/self_hosted/configure_meilisearch_at_launch.mdx
  learn/update_and_migration/updating.mdx
Owners: none

Document userProvided embedders have no templates
  reference/api/settings.mdx
Owners: none

add `/network` documentation
  reference/api/network.mdx
Owners: none

Update comparison to alternatives
  learn/resources/comparison_to_alternatives.mdx
Owners: @meilisearch/product-team

Update comparison to alternatives (#3143)
  learn/resources/comparison_to_alternatives.mdx
Owners: @meilisearch/product-team

add code samples, errors, update multi_search ref
  .code-samples.meilisearch.yaml
  reference/api/multi_search.mdx
  reference/api/network.mdx
  reference/errors/error_codes.mdx
Owners: @meilisearch/integration-team

add new key permissions
  reference/api/keys.mdx
Owners: none

add `/network` reference to menu
  config/sidebar-reference.json
Owners: none

Add `feature_not_found` error code explanation
  reference/errors/error_codes.mdx
Owners: none

add sharding guide
  config/sidebar-learn.json
  learn/multi_search/implement_sharding.mdx
Owners: none

minor updates to ai search code samples
  .code-samples.meilisearch.yaml
Owners: @meilisearch/integration-team

add `embedders: {}` to default settings object
  reference/api/settings.mdx
Owners: none

minor wording changes
  learn/self_hosted/configure_meilisearch_at_launch.mdx
  learn/update_and_migration/updating.mdx
Owners: none

Update docker version
  guides/docker.mdx
  learn/self_hosted/install_meilisearch_locally.mdx
Owners: none

update postman collection
  assets/misc/meilisearch-collection-postman.json
Owners: none

update telemetry table
  learn/resources/telemetry.mdx
Owners: none

fix: case sensitivity
  learn/ai_powered_search/getting_started_with_ai_search.mdx
Owners: none

address reviewer feedback
  guides/embedders/cloudflare.mdx
  guides/embedders/cohere.mdx
  guides/embedders/huggingface.mdx
  guides/embedders/mistral.mdx
  guides/embedders/openai.mdx
  guides/embedders/voyage.mdx
Owners: none

add missing dumpless upgrade datapoint, various minor fixes
  learn/resources/telemetry.mdx
Owners: none

add new fields to response object
  reference/api/stats.mdx
Owners: none

pre-review fixes
  .code-samples.meilisearch.yaml
  learn/multi_search/implement_sharding.mdx
  reference/api/network.mdx
Owners: @meilisearch/integration-team

Apply suggestions from code review
  learn/update_and_migration/updating.mdx
Owners: none

address reviewer feedback
  learn/update_and_migration/updating.mdx
Owners: none

Clarify description of the front end integration code sample
  guides/front_end/front_end_integration.mdx
Owners: none

Fix the main topic that the article describes.
  learn/relevancy/ranking_rules.mdx
Owners: none

add starter docs.json to power-up mintlify
  docs.json
  guides/langchain.mdx
  learn/engine/storage.mdx
  learn/getting_started/cloud_quick_start.mdx
  learn/self_hosted/getting_started_with_self_hosted_meilisearch.mdx
Owners: none

init docs.json
  docs.json
  learn/getting_started/cloud_quick_start.mdx
Owners: none

Apply suggestions from code review
  learn/ai_powered_search/choose_an_embedder.mdx
Owners: none

Add new article on how to choose embedder type (#3058)
  config/sidebar-learn.json
  learn/ai_powered_search/choose_an_embedder.mdx
Owners: none

Add Reference section
  docs.json
  learn/getting_started/cloud_quick_start.mdx
  learn/getting_started/documents.mdx
  learn/getting_started/search_preview.mdx
  reference/api/batches.mdx
  reference/api/documents.mdx
  reference/api/dump.mdx
  reference/api/experimental_features.mdx
  reference/api/facet_search.mdx
  reference/api/health.mdx
  reference/api/indexes.mdx
  reference/api/keys.mdx
  reference/api/logs.mdx
  reference/api/metrics.mdx
  reference/api/multi_search.mdx
  reference/api/overview.mdx
  reference/api/search.mdx
  reference/api/settings.mdx
  reference/api/similar.mdx
  reference/api/snapshots.mdx
  reference/api/stats.mdx
  reference/api/tasks.mdx
  reference/api/version.mdx
  reference/errors/error_codes.mdx
  reference/errors/overview.mdx
Owners: none

Add Guides section
  docs.json
Owners: none

Add top nav bar and footer
  docs.json
Owners: none

Add home page
  docs.json
  home.mdx
Owners: none

Fix typo
  home.mdx
Owners: none

.github/CODEOWNERS:

# Notify integrations team about updates to code samples
.code-samples.meilisearch.yaml @meilisearch/integration-team

# Content maintained by DevRel
/learn/front_end/react_instantsearch.mdx @meilisearch/devrel-team
/learn/cookbooks/vercel.mdx @CaroFG

# Content maintained by Product
/learn/resources/comparison_to_alternatives.mdx @meilisearch/product-team
