Repository meilisearch/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meilisearch/integration-team, @meilisearch/devrel-team, @CaroFG, @meilisearch/product-team

.github/CODEOWNERS:

# Notify integrations team about updates to code samples
.code-samples.meilisearch.yaml @meilisearch/integration-team

# Content maintained by DevRel
/learn/front_end/react_instantsearch.mdx @meilisearch/devrel-team
/learn/cookbooks/vercel.mdx @CaroFG

# Content maintained by Product
/learn/resources/comparison_to_alternatives.mdx @meilisearch/product-team

remove stats that won't be in v1.13
  reference/api/stats.mdx
Owners: none

Apply suggestions from code review
  .code-samples.meilisearch.yaml
  learn/multi_search/implement_sharding.mdx
  reference/api/multi_search.mdx
Owners: @meilisearch/integration-team

add warning regarding sorting, network, and displayed attributes
  reference/api/network.mdx
Owners: none

add cloud support
  learn/multi_search/implement_sharding.mdx
  reference/api/network.mdx
Owners: none

Update docker version (#3147)
  guides/docker.mdx
  learn/self_hosted/install_meilisearch_locally.mdx
Owners: none

v1.13: Telemetry (#3149)
  learn/resources/telemetry.mdx
Owners: none

v1.13: Add new fields to `/stats` response (#3152)
  reference/api/stats.mdx
Owners: none

v1.13: Dumpless upgrades (#3138)
  learn/self_hosted/configure_meilisearch_at_launch.mdx
  learn/update_and_migration/updating.mdx
Owners: none

address reviewer feedback
  reference/errors/error_codes.mdx
Owners: none

v1.13: AI-powered search breaking changes (#3137)
  .code-samples.meilisearch.yaml
  config/redirects.json
  config/sidebar-learn.json
  guides/computing_hugging_face_embeddings_gpu.mdx
  guides/embedders/cloudflare.mdx
  guides/embedders/cohere.mdx
  guides/embedders/huggingface.mdx
  guides/embedders/mistral.mdx
  guides/embedders/openai.mdx
  guides/embedders/voyage.mdx
  guides/langchain.mdx
  learn/ai_powered_search/deactivate_ai_powered_search.mdx
  learn/ai_powered_search/difference_full_text_ai_search.mdx
  learn/ai_powered_search/getting_started_with_ai_search.mdx
  learn/ai_powered_search/search_with_user_provided_embeddings.mdx
  learn/resources/experimental_features_overview.mdx
  reference/api/experimental_features.mdx
  reference/api/search.mdx
  reference/api/settings.mdx
  reference/api/similar.mdx
  reference/errors/error_codes.mdx
Owners: @meilisearch/integration-team

add experimental features to table, API response
  learn/resources/experimental_features_overview.mdx
  reference/api/experimental_features.mdx
  reference/errors/error_codes.mdx
Owners: none

update sharding guidance for cloud users
  learn/multi_search/implement_sharding.mdx
Owners: none

update postman collection (#3148)
  assets/misc/meilisearch-collection-postman.json
Owners: none

improve `feature_not_enabled` error code description
  reference/errors/error_codes.mdx
Owners: none

v1.13: Add remote federated search documentation (#3144)
  .code-samples.meilisearch.yaml
  config/sidebar-learn.json
  config/sidebar-reference.json
  learn/multi_search/implement_sharding.mdx
  learn/resources/experimental_features_overview.mdx
  reference/api/experimental_features.mdx
  reference/api/keys.mdx
  reference/api/multi_search.mdx
  reference/api/network.mdx
  reference/errors/error_codes.mdx
Owners: @meilisearch/integration-team

fix broken link
  learn/update_and_migration/updating.mdx
Owners: none

v1.13 (#3127)
  .code-samples.meilisearch.yaml
  assets/misc/meilisearch-collection-postman.json
  config/redirects.json
  config/sidebar-learn.json
  config/sidebar-reference.json
  guides/computing_hugging_face_embeddings_gpu.mdx
  guides/docker.mdx
  guides/embedders/cloudflare.mdx
  guides/embedders/cohere.mdx
  guides/embedders/huggingface.mdx
  guides/embedders/mistral.mdx
  guides/embedders/openai.mdx
  guides/embedders/voyage.mdx
  guides/langchain.mdx
  learn/ai_powered_search/deactivate_ai_powered_search.mdx
  learn/ai_powered_search/difference_full_text_ai_search.mdx
  learn/ai_powered_search/getting_started_with_ai_search.mdx
  learn/ai_powered_search/search_with_user_provided_embeddings.mdx
  learn/multi_search/implement_sharding.mdx
  learn/resources/experimental_features_overview.mdx
  learn/resources/telemetry.mdx
  learn/self_hosted/configure_meilisearch_at_launch.mdx
  learn/self_hosted/install_meilisearch_locally.mdx
  learn/update_and_migration/updating.mdx
  package.json
  reference/api/experimental_features.mdx
  reference/api/keys.mdx
  reference/api/multi_search.mdx
  reference/api/network.mdx
  reference/api/search.mdx
  reference/api/settings.mdx
  reference/api/similar.mdx
  reference/api/stats.mdx
  reference/errors/error_codes.mdx
Owners: @meilisearch/integration-team

WIP
  learn/ai_powered_search/rest_response_request.mdx
Owners: none

Fix: Embedder source should be `openAi`, not `openai` (#3150)
  learn/ai_powered_search/getting_started_with_ai_search.mdx
Owners: none

Fix the built-in ranking rules intro (#3155)
  learn/relevancy/ranking_rules.mdx
Owners: none

Clarify description of the front end integration code sample (#3153)
  guides/front_end/front_end_integration.mdx
Owners: none

Document userProvided embedders have no templates (#3141)
  reference/api/settings.mdx
Owners: none

rough draft
  config/sidebar-learn.json
  learn/ai_powered_search/rest_response_request.mdx
Owners: none

Replace mdx image with Frame component
  guides/deployment/aws.mdx
  guides/deployment/azure.mdx
  guides/deployment/digitalocean.mdx
  guides/deployment/qovery.mdx
  guides/deployment/railway.mdx
  guides/front_end/react_quick_start.mdx
  guides/front_end/vue_quick_start.mdx
  guides/langchain.mdx
  guides/laravel_scout.mdx
  guides/postman_collection.mdx
  guides/strapi_v4.mdx
  guides/vercel.mdx
  learn/ai_powered_search/getting_started_with_ai_search.mdx
  learn/analytics/configure_analytics.mdx
  learn/analytics/configure_monitoring.mdx
  learn/analytics/deactivate_analytics_monitoring.mdx
  learn/configuration/configuring_index_settings.mdx
  learn/data_backup/dumps.mdx
  learn/filtering_and_sorting/facets_vs_filters.mdx
  learn/getting_started/cloud_quick_start.mdx
  learn/getting_started/documents.mdx
  learn/getting_started/search_preview.mdx
  learn/relevancy/ranking_rules.mdx
  learn/security/basic_security.mdx
  learn/update_and_migration/migrating_cloud.mdx
  learn/update_and_migration/updating.mdx
Owners: none

Replace NoticeTag with Note component
  learn/ai_powered_search/deactivate_ai_powered_search.mdx
  learn/ai_powered_search/difference_full_text_ai_search.mdx
  learn/ai_powered_search/getting_started_with_ai_search.mdx
  learn/ai_powered_search/search_with_user_provided_embeddings.mdx
  learn/filtering_and_sorting/filter_expression_reference.mdx
  learn/self_hosted/configure_meilisearch_at_launch.mdx
Owners: none

Apply suggestions from code review
  learn/ai_powered_search/rest_response_request.mdx
Owners: none

address initial SME feedback
  learn/ai_powered_search/rest_response_request.mdx
Owners: none

improve document flow
  learn/ai_powered_search/rest_response_request.mdx
Owners: none

rough draft
  config/sidebar-learn.json
  learn/ai_powered_search/document_template_best_practices.mdx
Owners: none

address reviewer feedback
  learn/ai_powered_search/rest_response_request.mdx
Owners: none

fix botched merge
  config/sidebar-learn.json
Owners: none

polish
  learn/ai_powered_search/document_template_best_practices.mdx
Owners: none

Replace RouteHighlighter component
  guides/vercel.mdx
  learn/analytics/events_endpoint.mdx
  reference/api/batches.mdx
  reference/api/documents.mdx
  reference/api/dump.mdx
  reference/api/experimental_features.mdx
  reference/api/facet_search.mdx
  reference/api/health.mdx
  reference/api/indexes.mdx
  reference/api/keys.mdx
  reference/api/logs.mdx
  reference/api/metrics.mdx
  reference/api/multi_search.mdx
  reference/api/search.mdx
  reference/api/settings.mdx
  reference/api/similar.mdx
  reference/api/snapshots.mdx
  reference/api/stats.mdx
  reference/api/tasks.mdx
  reference/api/version.mdx
Owners: none

remove last occurences of NoticeTag
  reference/api/logs.mdx
  reference/api/metrics.mdx
  reference/api/similar.mdx
Owners: none

use user-powered embedder guide as base
  learn/ai_powered_search/multimodal.mdx
Owners: none

remove unused screenshot, update import dump screenshot
  assets/images/vector-search/01-cloud-vector-store.png
Owners: none

update screenshot
  assets/images/cloud-dumps/02-import-dump.png
Owners: none

Update Cloud screenshots (#3167)
  assets/images/cloud-dumps/02-import-dump.png
  assets/images/vector-search/01-cloud-vector-store.png
Owners: none

add rough draft for multimodal search guide
  .code-samples.meilisearch.yaml
  config/sidebar-learn.json
  learn/ai_powered_search/multimodal.mdx
Owners: @meilisearch/integration-team

Corrections to Elasticsearch license and embedding info and broken Meilisearch URL
  learn/resources/comparison_to_alternatives.mdx
Owners: @meilisearch/product-team
