Repository meilisearch/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meilisearch/integration-team, @meilisearch/devrel-team, @CaroFG, @meilisearch/product-team

add new error codes
  reference/api/search.mdx
  reference/errors/error_codes.mdx
Owners: none

bump version number
  docs.json
  package.json
Owners: none

add new experimental feature
  learn/resources/experimental_features_overview.mdx
  learn/self_hosted/configure_meilisearch_at_launch.mdx
Owners: none

add `embedderRequests` to `/batches` response
  reference/api/batches.mdx
Owners: none

add `/export` route
  .code-samples.meilisearch.yaml
  docs.json
  reference/api/export.mdx
  reference/errors/error_codes.mdx
Owners: @meilisearch/integration-team

docs: update chat/completions documentation with real-world implementation insights (#3307)
  guides/ai/getting_started_with_chat.mdx
  reference/api/chats.mdx
  reference/api/settings.mdx
Owners: none

fix /network route component
  reference/api/network.mdx
Owners: none

WIP: `/chats` reference review
  learn/ai_powered_search/chat_tooling_reference.md
  reference/api/chats.mdx
Owners: none

polish chat reference
  reference/api/chats.mdx
Owners: none

add tooling reference to menu
  docs.json
Owners: none

improve text and flow across remaining chat content
  guides/ai/getting_started_with_chat.mdx
  learn/ai_powered_search/conversational_search_with_chat.mdx
  reference/api/settings.mdx
Owners: none

remove editing artefact
  guides/ai/getting_started_with_chat.mdx
Owners: none

fix chat settings
  reference/api/settings.mdx
Owners: none

add `sort` param to GET/POST `/documents`
  reference/api/documents.mdx
  reference/errors/error_codes.mdx
Owners: none

update `rankingScoreThreshold` warning
  reference/api/search.mdx
Owners: none

bump docker version
  guides/docker.mdx
  learn/self_hosted/install_meilisearch_locally.mdx
Owners: none

update postman collection
  assets/misc/meilisearch-collection-postman.json
Owners: none

add new data points
  learn/resources/telemetry.mdx
Owners: none

💅
  .code-samples.meilisearch.yaml
  reference/api/settings.mdx
Owners: @meilisearch/integration-team

fix broken link
  learn/resources/experimental_features_overview.mdx
Owners: none

fix link for real this time
  learn/resources/experimental_features_overview.mdx
Owners: none

💅
  learn/resources/experimental_features_overview.mdx
  learn/self_hosted/configure_meilisearch_at_launch.mdx
Owners: none

💅
  guides/ai/getting_started_with_chat.mdx
  reference/api/chats.mdx
Owners: none

disable mintlify fathom fix
  fathom-data-attr.js
Owners: none

add more info about the rankingScoreThreshold to explain it's applied to all kind of searches
  reference/api/search.mdx
Owners: none

Update learn/resources/telemetry.mdx
  learn/resources/telemetry.mdx
Owners: none

v1.16: Telemetry updates (#3325)
  learn/resources/telemetry.mdx
  snippets/samples/code_samples_add_movies_json_1.mdx
  snippets/samples/code_samples_add_or_replace_documents_1.mdx
  snippets/samples/code_samples_add_or_update_documents_1.mdx
  snippets/samples/code_samples_date_guide_filterable_attributes_1.mdx
  snippets/samples/code_samples_date_guide_index_1.mdx
  snippets/samples/code_samples_distinct_attribute_guide_filterable_1.mdx
  snippets/samples/code_samples_facet_search_3.mdx
  snippets/samples/code_samples_faceted_search_update_settings_1.mdx
  snippets/samples/code_samples_filtering_update_settings_1.mdx
  snippets/samples/code_samples_geosearch_guide_filter_settings_1.mdx
  snippets/samples/code_samples_getting_started_add_documents.mdx
  snippets/samples/code_samples_getting_started_add_meteorites.mdx
  snippets/samples/code_samples_landing_getting_started_1.mdx
  snippets/samples/code_samples_primary_field_guide_add_document_primary_key.mdx
  snippets/samples/code_samples_typo_tolerance_guide_5.mdx
  snippets/samples/code_samples_update_filterable_attributes_1.mdx
Owners: none

v1.16: Experimental: Disable new indexer (#3313)
  learn/resources/experimental_features_overview.mdx
  learn/self_hosted/configure_meilisearch_at_launch.mdx
Owners: none

v1.16: Bump Docker image tag version (#3323)
  guides/docker.mdx
  learn/self_hosted/install_meilisearch_locally.mdx
Owners: none

v1.16: Add `sort` parameter to `/documents` route (#3318)
  reference/api/documents.mdx
  reference/errors/error_codes.mdx
Owners: none

Update reference/api/search.mdx
  reference/api/search.mdx
Owners: none

Update reference/api/search.mdx
  reference/api/search.mdx
Owners: none

Add more info about the rankingScoreThreshold (#3327)
  reference/api/search.mdx
Owners: none

Update reference/api/settings.mdx
  reference/api/settings.mdx
Owners: none

Apply suggestions from code review
  reference/api/batches.mdx
Owners: none

v1.16: `rankingScoreThreshold` no longer affects `totalHits` accuracy (#3322)
  reference/api/search.mdx
Owners: none

V1.16: Update `/batches` response (#3314)
  reference/api/batches.mdx
Owners: none

v1.16: Update Postman collection (#3324)
  assets/misc/meilisearch-collection-postman.json
Owners: none

address reviewer feedback
  docs.json
  guides/ai/getting_started_with_chat.mdx
  learn/ai_powered_search/chat_tooling_reference.md
  learn/ai_powered_search/conversational_search.mdx
  reference/api/chats.mdx
Owners: none

add Typesense to Laravel Scout Support
  learn/resources/comparison_to_alternatives.mdx
Owners: @meilisearch/product-team

.github/CODEOWNERS:

# Notify integrations team about updates to code samples
.code-samples.meilisearch.yaml @meilisearch/integration-team

# Content maintained by DevRel
/learn/front_end/react_instantsearch.mdx @meilisearch/devrel-team
/learn/cookbooks/vercel.mdx @CaroFG

# Content maintained by Product
/learn/resources/comparison_to_alternatives.mdx @meilisearch/product-team
