Repository meilisearch/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meilisearch/integration-team, @meilisearch/devrel-team, @CaroFG, @meilisearch/product-team

.github/CODEOWNERS:

# Notify integrations team about updates to code samples
.code-samples.meilisearch.yaml @meilisearch/integration-team

# Content maintained by DevRel
/learn/front_end/react_instantsearch.mdx @meilisearch/devrel-team
/learn/cookbooks/vercel.mdx @CaroFG

# Content maintained by Product
/learn/resources/comparison_to_alternatives.mdx @meilisearch/product-team

remove instance options from experimental page
  config/sidebar-learn.json
  learn/experimental/max_number_of_batched_tasks.mdx
  learn/experimental/reduce-indexing-memory-usage.mdx
  learn/experimental/replication_parameters.mdx
  learn/experimental/search_queue_size.mdx
Owners: none

move log customization options out of the experimental section
  .code-samples.meilisearch.yaml
  config/sidebar-learn.json
  config/sidebar-reference.json
  learn/experimental/log_customization.mdx
  learn/self_hosted/configure_meilisearch_at_launch.mdx
  reference/api/logs.mdx
Owners: @meilisearch/integration-team

Fix typo in task webhook authorization header reference (#2946)
  learn/self_hosted/configure_meilisearch_at_launch.mdx
Owners: none

Update comparison_to_alternatives.mdx (#2972)
  learn/resources/comparison_to_alternatives.mdx
Owners: @meilisearch/product-team

Fix the known limitation around the size of faceted values (#2974)
  learn/resources/known_limitations.mdx
Owners: none

Fix instructions in Run in production guide
  guides/running_production.mdx
Owners: none

move final bits of content away from experimental section
  config/sidebar-learn.json
  learn/ai_powered_search/deactivate_ai_powered_search.mdx
  learn/ai_powered_search/getting_started_with_ai_search.mdx
  learn/ai_powered_search/search_user_provided_embeddings.mdx
  learn/experimental/vector_search.mdx
  learn/resources/experimental_features_overview.mdx
Owners: none

tag code samples as experimental
  .code-samples.meilisearch.yaml
  learn/ai_powered_search/deactivate_ai_powered_search.mdx
  learn/ai_powered_search/search_user_provided_embeddings.mdx
  reference/api/logs.mdx
  reference/api/metrics.mdx
  reference/api/search.mdx
  reference/api/settings.mdx
Owners: @meilisearch/integration-team

fix: broken links in link checker
  .github/actions/validate-docs-links/src/checker.ts
Owners: none

improve wording
  learn/getting_started/documents.mdx
Owners: none

tag `/similar` as experimental
  .code-samples.meilisearch.yaml
  reference/api/similar.mdx
Owners: @meilisearch/integration-team

add redirects
  config/redirects.json
Owners: none

Fix: broken links in link checker (#2981)
  .github/actions/validate-docs-links/src/checker.ts
Owners: none

Explicitly state attributes are case-sensitive (#2976)
  learn/getting_started/documents.mdx
Owners: none

version bump
  assets/misc/meilisearch-collection-postman.json
Owners: none

Fix confusing index name
  learn/engine/datatypes.mdx
Owners: none

add federated search guide
  assets/datasets/crm-chats.json
  assets/datasets/crm-profiles.json
  assets/datasets/crm-tickets.json
  config/sidebar-learn.json
  learn/multi_search/federated_search_guide.mdx
Owners: none

add fed vs multi search explanation
  config/sidebar-learn.json
  learn/multi_search/multi_search_vs_federated_search.mdx
Owners: none

clarify that only custom API keys can be reused after migration
  reference/api/keys.mdx
Owners: none

remove meilisync content from docs
  config/redirects.json
  config/sidebar-guides.json
  guides/database/meilisync_mysql.mdx
  guides/database/meilisync_postgresql.mdx
Owners: none

Refactor path joining in checker.ts
  .github/actions/validate-docs-links/src/checker.ts
Owners: none

test mdx
  home.mdx
Owners: none

fix: lib links check
  .github/actions/validate-docs-links/lib/index.js
Owners: none

fix
  .github/actions/validate-docs-links/lib/index.js
  home.mdx
Owners: none

fix broken links checker (#3006)
  .github/actions/validate-docs-links/lib/index.js
  home.mdx
Owners: none

break link for testing
  learn/experimental/overview.mdx
Owners: none

fix: link checker
  .github/actions/validate-docs-links/src/checker.ts
  reference/api/experimental_features.mdx
Owners: none

rebuild link checker
  .github/actions/validate-docs-links/lib/index.js
Owners: none

build link checker
  .github/actions/validate-docs-links/lib/index.js
Owners: none

WIP: f68bde4a fix broken links checker (#3006)
  .github/actions/validate-docs-links/lib/index.js
  .github/actions/validate-docs-links/src/checker.ts
  reference/api/experimental_features.mdx
Owners: none

link checker
  .github/actions/validate-docs-links/lib/index.js
  .github/actions/validate-docs-links/lib/licenses.txt
  learn/experimental/overview.mdx
Owners: none

common js build
  .github/actions/validate-docs-links/lib/index.cjs
Owners: none

add another broken link
  learn/experimental/overview.mdx
Owners: none

first drafts ready
  config/sidebar-learn.json
  learn/multi_search/multi_search_vs_federated_search.mdx
  learn/multi_search/performing_federated_search.mdx
Owners: none

fix JSON formatting
  assets/datasets/crm-chats.json
Owners: none

fix JSON formatting
  assets/datasets/crm-tickets.json
Owners: none

change imports in checker
  .github/actions/validate-docs-links/lib/index.js
  .github/actions/validate-docs-links/lib/licenses.txt
  .github/actions/validate-docs-links/package.json
  .github/actions/validate-docs-links/src/checker.ts
  .github/actions/validate-docs-links/yarn.lock
Owners: none

new checker build
  .github/actions/validate-docs-links/lib/index.js
Owners: none

Fix confusing index name (#3000)
  learn/engine/datatypes.mdx
Owners: none

fix: NoticeTag link checker
  .github/actions/validate-docs-links/lib/index.js
  .github/actions/validate-docs-links/package.json
  .github/actions/validate-docs-links/src/checker.ts
Owners: none
