Repository meilisearch/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meilisearch/integration-team, @meilisearch/devrel-team, @CaroFG, @meilisearch/product-team

.github/CODEOWNERS:

# Notify integrations team about updates to code samples
.code-samples.meilisearch.yaml @meilisearch/integration-team

# Content maintained by DevRel
/learn/front_end/react_instantsearch.mdx @meilisearch/devrel-team
/learn/cookbooks/vercel.mdx @CaroFG

# Content maintained by Product
/learn/resources/comparison_to_alternatives.mdx @meilisearch/product-team

minor wording updates
  learn/ai_powered_search/document_template_best_practices.mdx
Owners: none

Update learn/ai_powered_search/rest_response_request.mdx
  learn/ai_powered_search/rest_response_request.mdx
Owners: none

address reviewer feedback
  learn/ai_powered_search/rest_response_request.mdx
Owners: none

rename guide
  config/sidebar-learn.json
  learn/ai_powered_search/configure_rest_embedder.mdx
Owners: none

forgot one
  config/sidebar-learn.json
Owners: none

rough draft ready
  learn/ai_powered_search/multimodal.mdx
Owners: none

add meta description
  learn/ai_powered_search/multimodal.mdx
Owners: none

Apply suggestions from code review
  learn/ai_powered_search/configure_rest_embedder.mdx
Owners: none

REST embedder guide (#3164)
  config/sidebar-learn.json
  learn/ai_powered_search/configure_rest_embedder.mdx
Owners: none

Corrections to Elasticsearch license and embedding info and broken Meilisearch URL (#3171)
  learn/resources/comparison_to_alternatives.mdx
Owners: @meilisearch/product-team

outline done
  learn/ai_powered_search/similar_guide.mdx
  reference/api/similar.mdx
Owners: none

add redirect for link pointing to discontinued react guide
  config/redirects.json
Owners: none

Add redirect for link pointing to discontinued react guide (#3174)
  config/redirects.json
Owners: none

fix typo
  reference/api/batches.mdx
Owners: none

fix typo (#3175)
  reference/api/batches.mdx
Owners: none

first draft
  assets/images/similar-guide/01-add-embedder-ui.gif
  learn/ai_powered_search/similar_guide.mdx
Owners: none

Document template best practices (#3166)
  config/sidebar-learn.json
  learn/ai_powered_search/document_template_best_practices.mdx
Owners: none

minor wording updates
  learn/ai_powered_search/similar_guide.mdx
Owners: none

add meta description
  learn/ai_powered_search/similar_guide.mdx
Owners: none

add guide to menu
  config/sidebar-learn.json
  learn/ai_powered_search/retrieve_related_search_results.mdx
Owners: none

Add CI script to pull-code-samples
  .github/workflows/pull-code-samples.yml
Owners: none

Use .mjs to use ES modules
  .github/workflows/pull-code-samples.yml
  scripts/pull-code-samples.mjs
Owners: none

Remove dummy ButtonLink components, just use a f <a> html or a Card component
  guides/langchain.mdx
  learn/engine/storage.mdx
  learn/getting_started/cloud_quick_start.mdx
  learn/self_hosted/getting_started_with_self_hosted_meilisearch.mdx
Owners: none

Move redirections to docs.json and fix duplicated sources
  docs.json
Owners: none

wip - meilisearch widget injection
  learn/search.js
Owners: none

address reviewer feedback, plus tighten terminology
  config/sidebar-learn.json
  learn/ai_powered_search/image_search_with_user_provided_embeddings.mdx
Owners: none

fix OpenAPI heading level
  reference/api/overview.mdx
Owners: none

Fix OpenAPI heading level (#3179)
  reference/api/overview.mdx
Owners: none

update billing screenshots
  assets/images/cloud-dumps/02-import-dump.png
  assets/images/cloud-getting-started/3-project-billing.png
  assets/images/cloud-migration/2-import-dump.png
Owners: none

Update billing screenshots (#3180)
  assets/images/cloud-dumps/02-import-dump.png
  assets/images/cloud-getting-started/3-project-billing.png
  assets/images/cloud-migration/2-import-dump.png
Owners: none

add Cloud file upload size limitation
  learn/getting_started/cloud_quick_start.mdx
  learn/resources/known_limitations.mdx
Owners: none

Add Cloud file upload size limitation (#3181)
  learn/getting_started/cloud_quick_start.mdx
  learn/resources/known_limitations.mdx
Owners: none

Add multimodal search guide (#3170)
  .code-samples.meilisearch.yaml
  config/sidebar-learn.json
  learn/ai_powered_search/image_search_with_user_provided_embeddings.mdx
Owners: @meilisearch/integration-team

Update learn/ai_powered_search/retrieve_related_search_results.mdx
  learn/ai_powered_search/retrieve_related_search_results.mdx
Owners: none

address reviewer feedback
  .code-samples.meilisearch.yaml
  learn/ai_powered_search/retrieve_related_search_results.mdx
Owners: @meilisearch/integration-team

remove absolute asset paths
  guides/laravel_scout.mdx
  guides/postman_collection.mdx
  learn/ai_powered_search/getting_started_with_ai_search.mdx
  learn/async/working_with_tasks.mdx
  learn/getting_started/cloud_quick_start.mdx
  learn/security/basic_security.mdx
Owners: none

enhance search widget, added responsive case and cmd+k event propagration
  learn/search.js
Owners: none

Add new guide on `/similar` route (#3173)
  .code-samples.meilisearch.yaml
  assets/images/similar-guide/01-add-embedder-ui.gif
  config/sidebar-learn.json
  learn/ai_powered_search/retrieve_related_search_results.mdx
  reference/api/similar.mdx
Owners: @meilisearch/integration-team

Add MCP server guide
  config/sidebar-guides.json
  guides/ai/mcp.mdx
Owners: none

add more hierarchy in search results
  search.js
Owners: none
