Repository meilisearch/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @meilisearch/integration-team, @meilisearch/devrel-team, @CaroFG, @meilisearch/product-team

.github/CODEOWNERS:

# Notify integrations team about updates to code samples
.code-samples.meilisearch.yaml @meilisearch/integration-team

# Content maintained by DevRel
/learn/front_end/react_instantsearch.mdx @meilisearch/devrel-team
/learn/cookbooks/vercel.mdx @CaroFG

# Content maintained by Product
/learn/resources/comparison_to_alternatives.mdx @meilisearch/product-team

Update comparison_to_alternatives.mdx
  learn/resources/comparison_to_alternatives.mdx
Owners: @meilisearch/product-team

Update settings.mdx
  reference/api/settings.mdx
Owners: none

Update Localized Attributes code sample name to match .code-samples.meilisearch.yaml
  reference/api/settings.mdx
Owners: none

Update LICENSE
  LICENSE
Owners: none

Update table of experimental features
  reference/api/experimental_features.mdx
Owners: none

Fix code sample names for localized attributes settings (#3087)
  reference/api/settings.mdx
Owners: none

Use the PATCH /embedders path on update_embedders_1
  .code-samples.meilisearch.yaml
Owners: @meilisearch/integration-team

Apply suggestions from code review
  reference/api/search.mdx
Owners: none

Add missing word to desc of locales search param (#3088)
  reference/api/search.mdx
Owners: none

Update comparison_to_alternatives.mdx (#3090)
  learn/resources/comparison_to_alternatives.mdx
Owners: @meilisearch/product-team

Update LICENSE (#3095)
  LICENSE
Owners: none

Update reference/api/search.mdx
  reference/api/search.mdx
Owners: none

Added missing `distinct` param in search parameters overview (#3073)
  reference/api/search.mdx
Owners: none

Update reference/api/multi_search.mdx
  reference/api/multi_search.mdx
Owners: none

Update reference/api/multi_search.mdx
  reference/api/multi_search.mdx
Owners: none

Fix some mistakes in federated multi search docs (#3074)
  reference/api/multi_search.mdx
Owners: none

Fix "Reset localized attributes settings" heading (#3091)
  reference/api/settings.mdx
Owners: none

Update table of experimental features (#3098)
  reference/api/experimental_features.mdx
Owners: none

drop https after consulting other programmers
  .code-samples.meilisearch.yaml
  guides/computing_hugging_face_embeddings_gpu.mdx
  guides/front_end/search_bar_for_docs.mdx
  guides/improve_relevancy_large_documents.mdx
  learn/ai_powered_search/deactivate_ai_powered_search.mdx
  learn/ai_powered_search/getting_started_with_ai_search.mdx
  learn/ai_powered_search/search_with_user_provided_embeddings.mdx
  learn/async/task_webhook.mdx
  learn/engine/datatypes.mdx
  learn/filtering_and_sorting/filter_expression_reference.mdx
  learn/multi_search/performing_federated_search.mdx
  learn/security/generate_tenant_token_scratch.mdx
  learn/security/generate_tenant_token_sdk.mdx
  learn/security/generate_tenant_token_third_party.mdx
  learn/update_and_migration/migrating_cloud.mdx
  reference/api/documents.mdx
  reference/api/logs.mdx
  reference/api/metrics.mdx
  reference/api/overview.mdx
  reference/api/settings.mdx
Owners: @meilisearch/integration-team

test
  .code-samples.meilisearch.yaml
Owners: @meilisearch/integration-team

Update .code-samples.meilisearch.yaml
  .code-samples.meilisearch.yaml
Owners: @meilisearch/integration-team

Update .code-samples.meilisearch.yaml
  .code-samples.meilisearch.yaml
Owners: @meilisearch/integration-team

fix code sample to use subroute
  .code-samples.meilisearch.yaml
Owners: @meilisearch/integration-team

typo - locale => locales
  reference/api/settings.mdx
Owners: none

use ubuntu 22 for workflows
  .github/workflows/code-sample-automation.yml
  .github/workflows/preview-info.yml
  .github/workflows/validate-docs-links.yml
Owners: none

Use ubuntu 22 for workflows (#3103)
  .github/workflows/code-sample-automation.yml
  .github/workflows/preview-info.yml
  .github/workflows/validate-docs-links.yml
Owners: none

Update the embedder settings documentation
  reference/api/settings.mdx
Owners: none

Remove usage of the global meili-bot PAT
  .github/workflows/preview-info.yml
Owners: none

Remove usage of the global meili-bot PAT (#3105)
  .github/workflows/preview-info.yml
Owners: none

address reviewer feedback
  learn/ai_powered_search/getting_started_with_ai_search.mdx
Owners: none

polish
  learn/ai_powered_search/getting_started_with_ai_search.mdx
Owners: none

fix placeholder URL
  learn/ai_powered_search/getting_started_with_ai_search.mdx
Owners: none

Update AI-powered search tutorial (#3056)
  guides/embedders/cloudflare.mdx
  guides/embedders/cohere.mdx
  guides/embedders/mistral.mdx
  guides/embedders/openai.mdx
  guides/embedders/voyage.mdx
  learn/ai_powered_search/getting_started_with_ai_search.mdx
Owners: none

Use the PATCH /embedders path on update_embedders_1 (#3099)
  .code-samples.meilisearch.yaml
Owners: @meilisearch/integration-team

Update the embedder settings documentation (#3104)
  reference/api/settings.mdx
Owners: none

Fix typo in sample of body for PUT `/settings/localized-attributes` (#3102)
  reference/api/settings.mdx
Owners: none

Updated `expected values` for limit in search.mdx
  reference/api/search.mdx
Owners: none

Prefer `MEILISEARCH_URL` over `localhost:7700` (#3083)
  .code-samples.meilisearch.yaml
  guides/computing_hugging_face_embeddings_gpu.mdx
  guides/front_end/search_bar_for_docs.mdx
  guides/improve_relevancy_large_documents.mdx
  learn/ai_powered_search/deactivate_ai_powered_search.mdx
  learn/ai_powered_search/search_with_user_provided_embeddings.mdx
  learn/async/task_webhook.mdx
  learn/engine/datatypes.mdx
  learn/filtering_and_sorting/filter_expression_reference.mdx
  learn/multi_search/performing_federated_search.mdx
  learn/security/generate_tenant_token_scratch.mdx
  learn/security/generate_tenant_token_sdk.mdx
  learn/security/generate_tenant_token_third_party.mdx
  learn/update_and_migration/migrating_cloud.mdx
  reference/api/documents.mdx
  reference/api/logs.mdx
  reference/api/metrics.mdx
  reference/api/overview.mdx
  reference/api/settings.mdx
Owners: @meilisearch/integration-team

remove GCP content from docs
  config/redirects.json
  config/sidebar-guides.json
  guides/deployment/gcp.mdx
  learn/resources/telemetry.mdx
  learn/self_hosted/install_meilisearch_locally.mdx
  learn/update_and_migration/updating.mdx
Owners: none

remove remaining mention
  learn/resources/sdks.mdx
Owners: none
