Repository meilisearch/documentation, pull requests merged in 2022-07, with the labels that each got.

#1766 v0.28: Add pagination to core concepts/indexes
  .code-samples.meilisearch.yaml
  .vuepress/public/sample-template.yaml
  learn/advanced/pagination.md
  learn/configuration/settings.md
  learn/core_concepts/indexes.md
Labels: new release, code sample changes needed

#1767 v0.28: Add faceting to core concepts+index settings
  .code-samples.meilisearch.yaml
  .vuepress/public/sample-template.yaml
  learn/configuration/settings.md
  learn/core_concepts/indexes.md
Labels: new release, code sample changes needed

#1763 v0.28: Telemetry updates
  learn/what_is_meilisearch/telemetry.md
Labels: new release

#1730 v0.28: Smart cropping
  reference/api/search.md
Labels: new release

#1738 v0.28: API key updates
  .code-samples.meilisearch.yaml
  learn/advanced/updating.md
  learn/security/master_api_keys.md
  learn/security/tenant_tokens.md
  reference/api/error_codes.md
  reference/api/keys.md
Labels: new release, code sample changes needed

#1761 v0.28: Faceting settings
  .code-samples.meilisearch.yaml
  .vuepress/config.js
  .vuepress/public/sample-template.yaml
  learn/advanced/filtering_and_faceted_search.md
  learn/configuration/settings.md
  learn/core_concepts/indexes.md
  reference/api/faceting.md
  reference/api/settings.md
Labels: code sample changes needed

#1728 v0.28 hebrew tokenizer
  learn/advanced/tokenization.md
  learn/what_is_meilisearch/language.md
Labels: new release
