Repository meilisearch/documentation, pull requests merged in 2022-05, with the labels that each got.

#1607 v0.27: Queries limited to 1000 returned results
  learn/advanced/known_limitations.md
  reference/api/search.md
Labels: new release

#1617 v0.27: New instance options
  learn/advanced/indexation.md
  learn/configuration/instance_options.md
Labels: new release

#1616 v0.27: update search parameters related to cropping and highlighting
  .code-samples.meilisearch.yaml
  reference/api/search.md
Labels: new release, code sample changes needed

#1606 V0.27 typo tolerance configuration
  .code-samples.meilisearch.yaml
  .vuepress/config.js
  .vuepress/public/_redirects
  .vuepress/public/sample-template.yaml
  learn/advanced/prefix.md
  learn/advanced/typotolerance.md
  learn/configuration/settings.md
  learn/configuration/typo_tolerance.md
  learn/what_is_meilisearch/features.md
  learn/what_is_meilisearch/overview.md
  reference/api/error_codes.md
  reference/api/settings.md
  reference/api/typo_tolerance.md
Labels: new release, code sample changes needed

#1651 update authorization headers for updating.md
  .code-samples.meilisearch.yaml
  .vuepress/public/sample-template.yaml
  learn/advanced/updating.md
Labels: code sample changes needed
