Repository meilisearch/documentation, pull requests merged in 2023-07, with the labels that each got.

#2487 v1.3: Update Postman for sort and search facets+showRankingScore
  assets/misc/meilisearch-collection-postman.json
Labels: ready to merge

#2508 v1.3 telemetry updates
  learn/what_is_meilisearch/telemetry.mdx
Labels: new release, ready to merge

#2510 v1.3: add `total` field to tasks response
  learn/async/managing_tasks.mdx
  reference/api/tasks.mdx
Labels: new release, ready to merge

#2497 v1.3: Update Docker image versions
  learn/cookbooks/docker.mdx
  learn/getting_started/installation.mdx
Labels: ready to merge

#2480 v1.3: `attributesToSearchOn`
  .code-samples.meilisearch.yaml
  learn/index_settings/displayed_searchable_attributes.mdx
  reference/api/multi_search.mdx
  reference/api/search.mdx
  reference/errors/error_codes.mdx
  sample-template.yaml
Labels: code sample changes needed, ready to merge

#2472 v1.3: search for facet values+sort facet values
  .code-samples.meilisearch.yaml
  config/sidebar-reference.json
  learn/fine_tuning_results/faceted_search.mdx
  learn/meilisearch_101/customizing_relevancy.mdx
  reference/api/facet_search.mdx
  reference/api/settings.mdx
  reference/errors/error_codes.mdx
  sample-template.yaml
Labels: code sample changes needed, ready to merge

#2476 v1.3: add ranking rules details
  .code-samples.meilisearch.yaml
  config/sidebar-learn.json
  learn/core_concepts/relevancy.mdx
  learn/experimental/ranking_rule_score_details.mdx
  reference/api/multi_search.mdx
  reference/api/search.mdx
  sample-template.yaml
Labels: code sample changes needed, ready to merge

#2496 v1.3: Experimental features API route
  .code-samples.meilisearch.yaml
  config/sidebar-learn.json
  config/sidebar-reference.json
  learn/experimental/overview.mdx
  reference/api/experimental_features.mdx
  sample-template.yaml
Labels: code sample changes needed
